:root {
  --dark-brown-color: #d87d4a;
  --dark-black-color: #101010;
  --pink-color: #f1f1f1;
  --dark-white: #fafafa;
  --brown-color: #fbaf85;
  --white-color: #ffffff;
  --black-color: #000000;

  --main-fs: 1.5rem;
  --main-lh: 1.6;
  --main-font: "Manrope";

  --h1-fs: 5.6rem;
  --h1-lh: 1;
  --h1-fw: 700;
  --h1-ls: 2px;

  --h2-fs: 4rem;
  --h2-lh: 1.1;
  --h2-fw: 700;
  --h2-ls: 1.43px;

  --h3-fs: 3.2rem;
  --h3-lh: 1.1;
  --h3-fw: 700;
  --h3-ls: 1.14px;

  --h4-fs: 2.8rem;
  --h4-lh: 1.35;
  --h4-fw: 700;
  --h4-ls: 2px;

  --h5-fs: 2.4rem;
  --h5-lh: 1.3;
  --h5-fw: 700;
  --h5-ls: 1.71px;

  --h6-fs: 1.8rem;
  --h6-lh: 1.3;
  --h6-fw: 700;
  --h6-ls: 1.29px;
}

main {
  flex-grow: 1;
}

.header {
  background-color: #131313;
  height: auto;
}

.header-container{
    background: url(../images/png/header-hero-img.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding-bottom: 15.8rem;
}

.sitenav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.6rem 0rem;
}

.sitenav-list {
  display: flex;
  gap: 3.4rem;
}

.hamburger-btn{
    background-color: transparent;
    border:none;
    cursor: pointer;
    display: none;
}

.sitenav-link {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 2px;
  color: var(--white-color);
  text-transform: uppercase;
  transition: 0.3s;
}

.sitenav-link:hover {
  color: var(--dark-brown-color);
}

.sitenav-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-divider {
  width: 100%;
  height: 1px;
  opacity: 0.2;
  color: #ffffff;
  background-color: var(--white-color);
  border: none;
  margin-bottom: 12.8rem;
}


.header-hero-title {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
  opacity: 0.5;
  color: var(--white-color);
  margin-bottom: 2.4rem;
}
.header-hero-heading {
  color: var(--white-color);
  width: 100%;
  max-width: 396px;
  margin-bottom: 2.4rem;
}
.header-hero-text {
  font-weight: 500;
  line-height: 25px;
  width: 100%;
  max-width: 349px;
  opacity: 75%;
  color: var(--white-color);
  margin-bottom: 4rem;
}
.header-hero-btn {
  background-color: var(--dark-brown-color);
  border: none;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s;
}

.header-hero-btn:hover{
    background-color: var(--brown-color);
}
.btn {
}

@media screen and (max-width:768px){
    .sitenav{
        justify-content: left;
    }
    .sitenav-list{
        display: none;
    }
    .sitenav-btn{
        margin-left: auto;
    }
    .hamburger-btn{
        display: block;
        margin-right: 4.2rem;
    }
    .header-hero{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-container{
        background-position: center center;
    }
    .header-hero-heading , .header-hero-title , .header-hero-text{
        text-align: center;
    }
}