:root {
  --dark-brown-color: #d87d4a;
  --dark-black-color: #101010;
  --pink-color: #f1f1f1;
  --dark-white: #fafafa;
  --brown-color: #fbaf85;
  --white-color: #ffffff;
  --black-color: #000000;

  --main-fs: 1.5rem;
  --main-lh: 1.6;
  --main-font: "Manrope";

  --h1-fs: 5.6rem;
  --h1-lh: 1;
  --h1-fw: 700;
  --h1-ls: 2px;

  --h2-fs: 4rem;
  --h2-lh: 1.1;
  --h2-fw: 700;
  --h2-ls: 1.43px;

  --h3-fs: 3.2rem;
  --h3-lh: 1.1;
  --h3-fw: 700;
  --h3-ls: 1.14px;

  --h4-fs: 2.8rem;
  --h4-lh: 1.35;
  --h4-fw: 700;
  --h4-ls: 2px;

  --h5-fs: 2.4rem;
  --h5-lh: 1.3;
  --h5-fw: 700;
  --h5-ls: 1.71px;

  --h6-fs: 1.8rem;
  --h6-lh: 1.3;
  --h6-fw: 700;
  --h6-ls: 1.29px;
}

main {
  flex-grow: 1;
}

.header {
  background-color: #131313;
  height: auto;
  margin-bottom: 20rem;
}

.header-container {
  background: url(../images/png/header-hero-img.png);
  background-repeat: no-repeat;
  background-position: center right;
  padding-bottom: 15.8rem;
}


.header-divider {
  width: 100%;
  height: 1px;
  opacity: 0.2;
  color: #ffffff;
  background-color: var(--white-color);
  border: none;
  margin-bottom: 12.8rem;
}

.header-hero-title {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
  opacity: 0.5;
  color: var(--white-color);
  margin-bottom: 2.4rem;
}
.header-hero-heading {
  color: var(--white-color);
  width: 100%;
  max-width: 396px;
  margin-bottom: 2.4rem;
}
.header-hero-text {
  font-weight: 500;
  line-height: 25px;
  width: 100%;
  max-width: 349px;
  opacity: 75%;
  color: var(--white-color);
  margin-bottom: 4rem;
}
.header-hero-btn {
  background-color: var(--dark-brown-color);
  border: none;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s;
}

.header-hero-btn:hover {
  background-color: var(--brown-color);
}


.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin-bottom: 16.8rem;
}
.cards-item {
  width: 350px;
  height: 204px;
  top: 80px;
  background-color: var(--pink-color);
  text-align: center;
  border-radius: 1rem;
}

.cards-item-btn:hover{
  opacity: 1;
  color:var(--dark-brown-color) ;
}

.cards-item-img {
  margin: auto;
  margin-top: -8rem;
}

.cards .cards-item:nth-child(1) .cards-item-title {
  margin-top: 3.6rem;
  margin-bottom: 1.5rem;
}
.cards .cards-item:nth-child(2) .cards-item-title {
  margin-top: 5rem;
  margin-bottom: 1.5rem;
}
.cards .cards-item:nth-child(3) .cards-item-title {
  margin-top: 7rem;
  margin-bottom: 1.5rem;
}


.ZX9-speaker{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 560px;
  background-color:var(--dark-brown-color) ;
  border-radius: 1rem;
  margin-bottom: 4.8rem;
}

.ZX9-speaker-img{
  margin-top: 6.7rem;
}

.ZX9-speaker-content{
  width: 100%;
  max-width: 350px;
  margin-top: 13rem;
}
.ZX9-speaker-content-title {
  color: var(--white-color);
  margin-bottom: 2.4rem;
}
.ZX9-speaker-content-text {
  opacity: 80%;
  color: var(--white-color);
  margin-bottom: 4rem;
  font-weight: 400;
}
.ZX9-speaker-content-btn {
  background-color: var(--black-color);
  border: none;
}

.ZX9-speaker-content-btn:hover{
  background-color: #4C4C4C;
}

.ZX7-speaker {
  width: 100%;
  height: 320px;
  background: url(../images/png/ZX7-speaker-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  justify-content: center;
  padding-left: 9.5rem;
  margin-bottom: 4.8rem;
}
.ZX7-speaker-title {
  margin-bottom: 3.2rem;
}
.ZX7-speaker-btn {
  border: 1px solid var(--black-color);
  color: var(--black-color);
}
.ZX7-speaker-btn:hover{
  background-color: var(--black-color);
  color: var(--white-color);
}

.YX1-earphones {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14rem;
}
.YX1-earphones-img {
  border-radius: 1rem;
}

.YX1-earphones-img-small{
  display: none;
}

.YX1-earphones-content {
  width: 100%;
  max-width: 540px;
  height: 320px;
  background-color: var(--pink-color);
  border-radius: 1rem;
  padding-left: 9.5rem;
}
.YX1-earphones-title {
  margin-top: 10rem;
  margin-bottom: 3.2rem;
}
.YX1-earphones-btn {
  border: 1px solid var(--black-color);
  color: var(--black-color);
}
.YX1-earphones-btn:hover{
  background-color: var(--black-color);
  color: var(--white-color);
}

.best-audio-gear {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin-bottom: 14rem;
}

.best-audio-gear-content-title {
  width: 100%;
  max-width: 400px;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}

.best-audio-gear-content-title span{
  color:var(--dark-brown-color) ;
}
.best-audio-gear-content-text {
  width: 100%;
  max-width: 445px;
  opacity: 0.5;
}
.best-audio-gear-img {
  border-radius: 1rem;
  width: 50%;
}

.best-audio-gear-tablet-img{
  display: none;
}

.best-audio-gear-mobile-img{
  display: none;
}

/* -----------------------------Responsive-------------------------- */




@media screen and (max-width: 1050px) {
  .YX1-earphones-img {
    display: none;
  }
  
  .YX1-earphones-img-small{
    display: block;
    margin-right: 3rem;
  }
  .YX1-earphones-content{
    padding-left: 4rem;
  }
}

@media screen and (max-width: 950px) {
  .ZX9-speaker{
    align-items: center;
  }
  .ZX9-speaker-img{
    width: 300px;
    height: 340px;
    margin-top: 0;
  }
  .ZX9-speaker-content{
    margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .sitenav {
    justify-content: left;
  }
  .sitenav-list {
    display: none;
  }
  .sitenav-btn {
    margin-left: auto;
  }
  .hamburger-btn {
    display: block;
    margin-right: 4.2rem;
  }
  .header-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-container {
    background-position: center center;
  }
  .header-hero-heading,
  .header-hero-title,
  .header-hero-text {
    text-align: center;
  }
  .cards{
    gap: 1rem;
  }
  .ZX9-speaker{
    height: 720px;
    flex-direction: column;
    justify-content: stretch;
  }
  .ZX9-speaker-img{
    width: 200px;
    height: 240px;
    margin-top: 5rem;
    margin-bottom: 6.4rem;
  }
  .ZX9-speaker-content{
    text-align: center;
  }
  .ZX9-speaker-content-btn{
    margin: auto;
  }
  .ZX7-speaker{
    background: url(../images/png/ZX7-speaker-tablet-bg.png);
    background-position: center;
    padding-left: 6.2rem;
  }
  .YX1-earphones-img-small{
    margin-right: 1rem;
  }
  .YX1-earphones-content{
    max-width: 100%;
    text-align: center;
    padding-left: 0;
  }
  .YX1-earphones-btn{
    margin: auto;
  }
  .best-audio-gear{
    flex-direction: column-reverse;
    margin-bottom: 9.6rem;
  }
  .YX1-earphones {
    margin-bottom: 9.6rem;
  }
  .best-audio-gear-img{
    display: none;
  }
  .best-audio-gear-tablet-img{
    display: block;
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }
  .best-audio-gear-content-title {
    width: 100%;
    max-width: 573px;
    text-align: center;
    margin: auto;
    margin-bottom: 3.2rem;
  }
  .best-audio-gear-content-text{
    text-align: center;
    margin: auto;
    max-width: 573px;
  }
}

@media screen and (max-width: 655px) {
  .YX1-earphones{
    flex-direction: column;
  }
  .YX1-earphones-img-small{
    display: none;
  }
  .YX1-earphones-img{
    display: block;
    margin-bottom: 2.4rem;
  }
}

@media screen and (max-width: 620px) {
  .cards{
    flex-direction: column;
  }
  .cards-item{
    margin-bottom: 10rem;
  }
}

@media screen and (max-width: 405px) {
  .site-logo{
    margin-left: auto;
    margin-right: auto;
  }
  .header-hero-heading {
    font-size: 3.6rem;
    letter-spacing: 2.2px;
  }
  .header-hero-text {
    margin-bottom: 2.8rem;
  }
  .cards-item{
    width: 100%;
  }
  .ZX9-speaker{
    height: 600px;
    margin-bottom: 2.4rem;
  }
  .ZX9-speaker-img{
    width: 172px;
    height: 207px;
    margin-top: 5rem;
    margin-bottom: 3.2rem;
  }
  .ZX9-speaker-content-title{
    font-size: 3.6rem;
    max-width: 200px;
    margin: auto;
    margin-bottom: 2.4rem;
  }
  .ZX9-speaker-content-text{
    max-width: 280px;
    margin: auto;
    margin-bottom: 2.4rem;
  }
  .cards{
    margin-bottom: 5rem;
  }
  .ZX7-speaker{
    background: url(../images/png/ZX7-speaker-mobile-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 2.4rem;
  }
  .YX1-earphones-content{
    height: 200px;
  }
  .YX1-earphones-title{
    margin-top: 4rem;
  }
  .best-audio-gear-tablet-img{
    display: none;
  }
  .best-audio-gear-mobile-img{
    border-radius: 1rem;
    display: block;
    margin-bottom: 3rem;
    width: 100%;
  }
  .best-audio-gear-content-title{
    font-size: 2.8rem;
  }
  .best-audio-gear-content-text{
    max-width: 327px;
  }
}

@media screen and (max-width: 375px) {
  .header-container {
    background-size: 580px 600px;
  }
  .header-divider {
    margin-bottom: 11.8rem;
  }
}


